<p>
  Hi there,
</p>

<p>
  Someone (hopefully you!) would like to reset your password on Harmonio.us.
</p>

<p>
  <%= link_to 'Click here', change_password_url(@user.reset_password_token) %>
  to change your password.
</p>

<p>
  If this wasn't you, you can just ignore this email.
</p>
