// Typography
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700');
$base-font-family: 'Work Sans', $font-stack-system;
$heading-font-family: $base-font-family;

$light-font-weight: 300;
$base-font-weight: 400;
$bold-font-weight: 700;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5rem;
$thumb-size: 2.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$keyline: 4.5rem;

// Colors

$primary-color-name: 'blue';
$accent-color-name: 'pink';

$brand-colors: (
  facebook: #3b5998,
  google: #ea4335,
  twitter: #1da1f2
);

$base-background-color: material-color('grey', '100');
$secondary-background-color: white;
$primary-color: material-color($primary-color-name);
$light-primary-color: material-color($primary-color-name, '100');
$dark-primary-color: material-color($primary-color-name, '700');
$accent-color: material-color($accent-color-name, 'a200');

$base-text-color: black;
$dark-background-text-color: white;
$primary-text-alpha: 0.87;
$secondary-text-alpha: 0.54;
$disabled-text-alpha: 0.38;
$focus-outline-alpha: 0.38;
$divider-alpha: 0.12;
$dark-background-primary-text-alpha: 1;
$dark-background-secondary-text-alpha: 0.7;
$dark-background-disabled-text-alpha: 0.5;
$dark-background-divider-alpha: 0.12;

$primary-text-color: rgba($base-text-color, $primary-text-alpha);
$secondary-text-color: rgba($base-text-color, $secondary-text-alpha);
$disabled-text-color: rgba($base-text-color, $disabled-text-alpha);
$dark-background-primary-text-color: rgba($dark-background-text-color, $dark-background-primary-text-alpha);
$dark-background-secondary-text-color: rgba($dark-background-text-color, $dark-background-secondary-text-alpha);
$dark-background-disabled-text-color: rgba($dark-background-text-color, $dark-background-disabled-text-alpha);

// Font Colors
$base-font-color: $primary-text-color;
$action-color: $accent-color;

// Border
$base-border-color: rgba(black, $divider-alpha);
$base-border: 1px solid $base-border-color;

// Focus
$focus-outline-width: 0.25rem;
$focus-outline-color: transparentize($action-color, $focus-outline-alpha);
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 0px;

@mixin focus-outline($color: $action-color) {
  $focus-outline-color: transparentize($color, $focus-outline-alpha);

  &:focus {
    box-shadow: 0 0 0 $focus-outline-width $focus-outline-color;
    outline: none;
  }
}

// Animations
$base-duration: 150ms;
$slow-duration: 375ms;
$stagger-interval: 20ms;
$base-timing: cubic-bezier(0.4, 0.0, 0.2, 1);
$deceleration-timing: cubic-bezier(0.0, 0.0, 0.2, 1);
$acceleration-timing: cubic-bezier(0.4, 0.0, 1, 1);
$sharp-timing: cubic-bezier(0.4, 0.0, 0.6, 1);
