.event-calendar > section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.infinite-scroll {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.infinite-scroll-content {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
}

.calendar {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;

  .calendar-period {
    position: absolute;
    left: 0;
    opacity: 1;
    right: 0;
    top: 0;
    transition: transform $base-duration $base-timing, opacity $base-duration $base-timing $slow-duration;

    .month {
      min-height: 6rem;
      transition: transform $slow-duration $base-timing $base-duration;
    }

    &.loading {
      opacity: 0;
      height: 100%;
    }
  }

  .month {
    margin-left: $keyline;
    margin-right: 1rem;
    border-left: $base-border;
    padding-left: $base-spacing;

    h3 {
      color: $secondary-text-color;
      font-size: modular-scale(-1);
      letter-spacing: 0.1em;
      line-height: $base-line-height * 1rem;
      margin: 0;
      padding-top: $small-spacing;
      text-transform: uppercase;
    }
  }

  .day {
    position: relative;

    h4 {
      @include position(absolute, 0 null null -5rem);
      color: $secondary-text-color;
      font-size: modular-scale(1);
      font-weight: $light-font-weight;
      line-height: ($base-line-height * 1rem);
      text-align: right;
      width: 2rem;
    }

    ul {
      margin: 0;
    }

    li {
      padding: 0 0 $small-spacing;

      a {
        color: inherit;
        display: block;
      }
    }
  }

  h5 {
    @include ellipsis;
    color: $primary-text-color;
    display: block;
    font-size: 1rem;
    line-height: $base-line-height;
    margin: 0;
  }

  small {
    @include ellipsis;
    color: $secondary-text-color;
    display: block;
    font-size: modular-scale(-1);
    line-height: $base-line-height * 1rem;
  }
}
