.application {
  @include position(fixed, 0rem 0rem 0rem 0rem);
  align-items: stretch;
  display: flex;
  justify-content: stretch;

  main {
    background: $base-background-color;
    flex: 1;
    overflow: hidden;
    position: relative;
  }
}
